$category-radius: 10px;

.category {
  background-color: var(--color-gray);

  &__titles {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  &__title {
    line-height: 20px;
    color: var(--color-text);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 40px;
    border-right: 1px solid #e8e8e8;


  }
}

.category-image {
  background: linear-gradient(to bottom, var(--color-gray) 50px, white 50px 100%);

  &__image {
    transition: .2s;
    position: relative;
    display: block;
    &:after {
      content: "";
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      border-right: #fff $category-radius solid;
      border-bottom: #fff $category-radius solid;
      border-radius: 0 0 20px 0;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      border-left: #fff $category-radius solid;
      border-bottom: #fff $category-radius solid;
      border-radius: 0 0 0 20px;
    }
    img {
      height: 176px;
      object-fit: cover;
      width: 100%;

    }

    &:hover {
      flex: 1.4;
    }

    &--inner{
      position: relative;
      display: flex;
      &:after {
        content: "";
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 0;
        border-right: #fff $category-radius solid;
        border-top: #fff $category-radius solid;
        border-radius: 0 20px 0 0;
      }

      &:before {
        content: "";
        position: absolute;
        z-index: 100;
        bottom: 0;
        right: 0;
        border-left: #fff $category-radius solid;
        border-top: #fff $category-radius solid;
        border-radius: 20px 0 0 0;
      }
    }
  }

  &__item {
    transition: .2s;
    text-align: center;

    &:last-of-type {
      .category__title {
        border-right: none;
      }
    }

    &:hover {
      flex: 1.4;
    }
  }

}