.navbar {
  &__logo {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  &__slogan {
    color: var(--color-secondary-hover);
    font-size: .9rem;
  }

  &__icons{
    margin: 0 15px;
  }
  &__icon {
    width: 2.5rem;
    height: 2rem;

    &-count {
      color: var(--color-text);
      margin-left: 4px;
    }
    svg path{
      transition: .2s;
    }
    &:hover, &--active {
      svg path{
        stroke: var(--color-secondary);
      }
    }
  }

  &__language {
    color: var(--color-text);
    &--disabled{
      color: #c8c8c8;
    }
    &:after {
      content: "/";
      color: #EBEBEB;
      margin: 0 5px;
    }
    &:last-child{
      &:after{
        content: none;
      }
    }
  }
  &__contact-button{
    border-color:var(--color-primary-hover) !important;
  }
}